<%= form_with(model: employee) do |form| %>
  <div>
    <%= form.label :name, style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control mb-3" %>
  </div>

  <div>
    <%= form.label :position, style: "display: block", class: "form-label" %>
    <%= form.text_field :position, class: "form-control mb-3" %>
  </div>

  <div>
    <%= form.label :joined_company, style: "display: block", class: "form-label" %>
    <%= form.date_field :joined_company, class: "form-control mb-3" %>
  </div>

  <div class="field">
    <%= form.label :image, class: "input-group mb-2" %>
    <%= form.file_field :image, class: "form-control mb-3" %>
  </div>

  <div>
    <%= form.submit "Save", class: "btn btn-secondary" %>
  </div>
<% end %>
