<p style="color: green"><%= notice %></p>

<%= link_to "New employee", new_employee_path, class: "btn btn-primary mt-3 mx-2 white-border", data: { turbo_frame: "modal" } %>
<main class="container">
  <div id="employees" class="row gap-3 pt-5 mb-3">
    <% @employees.each do |employee| %>
      <div class="col-3">
        <%= link_to(employee, data: {turbo_frame: "modal"}) do %>
          <div class="card" style="width: 18rem; height: 20rem;">
            <%= employee.image.present? ? image_tag(employee.image, class: "card-img-top", style: "height: 11rem;") : image_tag("empty_user.png", class: "card-img-top", style: "height: 11rem;") %>
            <div class="card-body">
              <h5 class="card-title"><%= employee.name %></h5>
              <p class="card-text"><%= employee.position %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</main>

