<p style="color: green"><%= notice %></p>

<div class="d-flex">
  <div class="mx-auto d-flex justify-content-between" style="width: 700px;">

    <%= link_to "New employee", new_employee_path, class: "btn btn-secondary mx-2", data: { turbo_frame: "modal" } %>

    <%= form_tag "/employees", method: "GET", class: "d-flex" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search employee", class: "form-control mx-2" %>
      <%= submit_tag "Search", class: "btn btn-secondary" %>
    <% end %>

  </div>
</div>

<main class="container">
  <div id="employees" class="row justify-content-center gap-3 pt-5 mb-3">

    <% if @result %>
      <% @result.each do |empl| %>
        <div class="col-3">
          <%= link_to(empl, data: {turbo_frame: "modal"}) do %>
            <div class="card" style="width: 18rem; height: 20rem;">
              <%= empl.image.present? ? image_tag(empl.image, class: "card-img-top", style: "height: 11rem;") : image_tag("empty_user.png", class: "card-img-top", style: "height: 11rem;") %>
              <div class="card-body">
                <h5 class="card-title"><%= empl.name %></h5>
                <p class="card-text"><%= empl.position %></p>
                <%= image_tag "kaonashi-icon", size: "30" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% @employees.each do |employee| %>
      <div class="col-3">
        <%= link_to(employee, data: {turbo_frame: "modal"}) do %>
          <div class="card" style="width: 18rem; height: 20rem;">
            <%= employee.image.present? ? image_tag(employee.image, class: "card-img-top", style: "height: 11rem;") : image_tag("empty_user.png", class: "card-img-top", style: "height: 11rem;") %>
            <div class="card-body">
              <h5 class="card-title"><%= employee.name %></h5>
              <p class="card-text"><%= employee.position %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</main>

