<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal">
    <%= link_to "", employees_path, class: "btn btn-close btn-sm" %>
    <hr class="divider" />
    <div class="modal-body">
      <p style="color: green"><%= notice %></p>
      <div class="row">
        <div class="col">
          <%= @employee.image.present? ? image_tag(@employee.image, class: "user float-end") : image_tag("empty_user.png", class: "user float-end") %>
        </div>
        <div class="col">
          <h5><%= @employee.name %></h5>
          <p><%= @employee.position %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr class="divider" />
        <div class="d-flex justify-content-center">
          <%= link_to "Edit", edit_employee_path(@employee), class: "btn btn-secondary d-inline mx-2", data: {turbo_frame: "modal"} %>
          <%= button_to "Delete", @employee, method: :delete, class: "btn btn-secondary d-inline mx-2" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
