<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal">
    <div class="mb-3">
      <%= link_to "", homepage_path, class: "btn btn-close btn-sm" %>
    </div>

    <div class="d-flex mb-3">
      <%= image_tag "user_circle_icon", size: "80", class: "mx-auto" %>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-floating mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        <%= f.label :email, class: "form-label" %>
      </div>

      <% if @minimum_password_length %>
        <span style="color: lightgrey;">(<%= @minimum_password_length %> characters minimum)</span>
      <% end %>
      <div class="form-floating mb-3">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <%= f.label :password, class: "form-label" %>
      </div>

      <div class="form-floating mb-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        <%= f.label :password_confirmation, class: "form-label" %>
      </div>
      <%= f.submit "Sign up", data: { turbo: false }, class: "btn btn-primary text-white mb-3" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
<% end %>
