<!DOCTYPE html>
<html>
  <head>
    <title>DunderMifflin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
      <span> special offer 50$ addicional discount on delivery!</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <%= turbo_frame_tag "modal" %>
    <%= render "application/navbar" %>
      <%= yield %>
    <%= render "application/footer" %>
  </body>
</html>
